<h1><%=@post.title%></h1>
<p><%=@post.content%></p>
<ul>
  <%@post.categories.each do |category|%>
    <li><%=category.name%></li>
  <%end%>
</ul>
<%@post.comments.each do |comment|%>
  <p><%=comment.content%></p>
<%end%>
<ul>
  <%@post.comments.collect{|comment| comment.user}.uniq.each do |user|%>
    <li><%=link_to user.username, user_path(user)%></li>
  <%end%>
</ul>
<%= form_for @comment do |f| %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: ''} %>
  <%= f.fields_for :user, @comment.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>
